server:
  port: 48672
mybatis-plus:
  global-config:
    db-config:
      logic-delete-value: 1 #逻辑未删除值设定
      logic-not-delete-value: 0 #逻辑以删除值设定
  configuration:
    map-underscore-to-camel-case: true
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl  #用于打印数据库Sql查询的配置
  mapper-locations: classpath:mapper/*.xml
spring:
  datasource:
    url: jdbc:mysql://192.168.154.130:3306/ocean?useUnicode=true&characterEncoding=utf8&serverTimezone=GMT%2B8&allowMultQueries=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: forbug123
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui
  packages-to-scan: com.ocean
  paths-to-match: '/**'

knife4j:
  enable: true
  setting:
    language: zh_cn
ocean:
  security:
    mockUser: true